Repository timngyn-test-org/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timngyn, @timngyn-test-org/team-1, @timngyn-test-org/team-2, @timngyn-acc4

Update build-options.mdx
  src/pages/cli/function/build-options.mdx
Owners: @timngyn-test-org/team-2, @timngyn-acc4, @timngyn-test-org/team-1

test
  .github/workflows/scripts/verify_approvers.js
Owners: @timngyn

Update cloudformation.mdx
  src/pages/cli/custom/cloudformation.mdx
Owners: @timngyn-test-org/team-2, @timngyn-acc4, @timngyn-test-org/team-1

oops
  .github/workflows/scripts/verify_approvers.js
Owners: @timngyn

Update env-vars.mdx
  src/pages/cli/function/env-vars.mdx
Owners: @timngyn-test-org/team-2, @timngyn-acc4, @timngyn-test-org/team-1

oops
  .github/workflows/scripts/verify_approvers.js
Owners: @timngyn

Update configure-options.mdx
  src/pages/cli/function/configure-options.mdx
Owners: @timngyn-test-org/team-2, @timngyn-acc4, @timngyn-test-org/team-1

test
  .github/workflows/scripts/verify_approvers.js
Owners: @timngyn

Update env-vars.mdx
  src/pages/cli/function/env-vars.mdx
Owners: @timngyn-test-org/team-2, @timngyn-acc4, @timngyn-test-org/team-1

oops
  .github/workflows/scripts/verify_approvers.js
Owners: @timngyn

Update cloudformation.mdx
  src/pages/cli/custom/cloudformation.mdx
Owners: @timngyn-test-org/team-2, @timngyn-acc4, @timngyn-test-org/team-1

oops
  .github/workflows/scripts/verify_approvers.js
Owners: @timngyn

Update cloudformation.mdx
  src/pages/cli/custom/cloudformation.mdx
Owners: @timngyn-test-org/team-2, @timngyn-acc4, @timngyn-test-org/team-1

the end 😔
  .github/workflows/scripts/verify_approvers.js
Owners: @timngyn

test changes for deleted assets
  .github/workflows/add_deleted_assets_label.yml
  .github/workflows/check_for_deleted_assets.yml
  .github/workflows/scripts/add_label_for_deleted_files.js
Owners: @timngyn

Update cdk.mdx
  src/pages/cli/custom/cdk.mdx
Owners: @timngyn-test-org/team-2, @timngyn-acc4, @timngyn-test-org/team-1

Delete hosting.mdx
  src/pages/cli/hosting/hosting.mdx
Owners: @timngyn-test-org/team-1

Delete Amplify Logo.svg
  public/images/Logos/Amplify Logo.svg
Owners: none

oops
  .github/workflows/check_for_deleted_assets.yml
Owners: @timngyn

Update cloudformation.mdx
  src/pages/cli/custom/cloudformation.mdx
Owners: @timngyn-test-org/team-2, @timngyn-acc4, @timngyn-test-org/team-1

Delete android-icon-192x192.png
  public/assets/icon/android-icon-192x192.png
Owners: none

oops
  .github/workflows/add_deleted_assets_label.yml
  .github/workflows/check_for_deleted_assets.yml
Owners: @timngyn

Update maps.mdx
  src/pages/cli/geo/maps.mdx
Owners: @timngyn-test-org/team-2, @timngyn-acc4, @timngyn-test-org/team-1

Delete android-icon-144x144.png
  public/assets/icon/android-icon-144x144.png
Owners: none

.github/CODEOWNERS:

#Docs Engineering
/*.* @timngyn
/src/components @timngyn 
/src/constants @timngyn 
/src/directory @timngyn 
/src/pages/_app.tsx @timngyn 
/src/pages/_document.tsx @timngyn 
/src/pages/404.tsx @timngyn 
/src/pages/ChooseFilterPage.tsx @timngyn 
/src/pages/guides/q/platform @timngyn 
/src/pages/index.tsx @timngyn
/src/pages/start/q/integration @timngyn
/src/plugins @timngyn 
/src/public @timngyn 
/src/styles @timngyn 
/src/utils @timngyn
 
#JS
/src/**/**/analytics @timngyn-test-org/team-1
/src/**/**/api-graphql @timngyn-test-org/team-1
/src/**/**/api-rest @timngyn-test-org/team-1
/src/**/**/auth @timngyn-test-org/team-1
/src/**/**/authentication @timngyn-test-org/team-1
/src/**/**/graphqlapi @timngyn-test-org/team-1
/src/**/**/in-app-messaging @timngyn-test-org/team-1
/src/**/**/interactions @timngyn-test-org/team-1
/src/**/**/predictions @timngyn-test-org/team-1
/src/**/**/project-setup @timngyn-test-org/team-1
/src/**/**/pubsub @timngyn-test-org/team-1
/src/**/**/push-notifications @timngyn-test-org/team-1
/src/**/**/restapi @timngyn-test-org/team-1
/src/**/**/storage @timngyn-test-org/team-1
/src/**/**/utilities @timngyn-test-org/team-1
/src/**/lib @timngyn-test-org/team-1
/src/**/lib-v1 @timngyn-test-org/team-1
/src/**/sdk @timngyn-test-org/team-1
/src/fragments/**/**/**/js @timngyn-test-org/team-1
/src/fragments/**/**/common @timngyn-test-org/team-1
/src/fragments/**/**/js @timngyn-test-org/team-1
/src/fragments/**/**/native_common @timngyn-test-org/team-1
/src/fragments/lib/js.mdx @timngyn-test-org/team-1
/src/fragments/lib/reactnative.mdx @timngyn-test-org/team-1
/src/fragments/react.mdx @timngyn-test-org/team-1
/src/fragments/reactnative.mdx @timngyn-test-org/team-1
/src/fragments/start/getting-started/angular @timngyn-test-org/team-1
/src/fragments/start/getting-started/next @timngyn-test-org/team-1
/src/fragments/start/getting-started/react @timngyn-test-org/team-1
/src/fragments/start/getting-started/reactnative @timngyn-test-org/team-1
/src/fragments/start/getting-started/vanillajs @timngyn-test-org/team-1
/src/fragments/start/getting-started/vue @timngyn-test-org/team-1
/src/fragments/web.mdx @timngyn-test-org/team-1
/src/pages/guides/functions @timngyn-test-org/team-1
/src/pages/start/getting-started @timngyn-test-org/team-1

#DataStore
/src/fragments/**/datastore @timngyn-test-org/team-1
/src/pages/**/datastore @timngyn-test-org/team-1

#Geo
/src/fragments/**/geo @timngyn-test-org/team-1
/src/pages/**/geo @timngyn-test-org/team-1

#CLI
/src/**/cli @timngyn-test-org/team-2 @timngyn-acc4 @timngyn-test-org/team-1
/src/**/cli-legacy @timngyn-test-org/team-2 @timngyn-acc4 @timngyn-test-org/team-1
/src/fragments/cli-install-block.mdx @timngyn-test-org/team-2 @timngyn-acc4 @timngyn-test-org/team-1
/src/fragments/lib-v1/project-setup/native_common/prereq/cliInstall.mdx @timngyn-test-org/team-2 @timngyn-acc4 @timngyn-test-org/team-1
/src/fragments/pull-cli-studio.mdx @timngyn-test-org/team-2 @timngyn-acc4 @timngyn-test-org/team-1
/src/pages/console/adminui/extend-cli.mdx @timngyn-test-org/team-2 @timngyn-acc4 @timngyn-test-org/team-1

#Android
/src/fragments/**/**/android @timngyn-test-org/team-2
/src/fragments/android.mdx @timngyn-test-org/team-2
/src/fragments/guides/location-service/setting-up-your-app-android.mdx @timngyn-test-org/team-2
/src/fragments/guides/location-service/tracking-device-location-android.mdx @timngyn-test-org/team-2
/src/fragments/lib-v1/android-sdk.mdx @timngyn-test-org/team-2
/src/fragments/lib-v1/android.mdx @timngyn-test-org/team-2
/src/fragments/lib/android-escape-hatch-warning.mdx @timngyn-test-org/team-2
/src/fragments/lib/android-kotlin-java-interop.mdx @timngyn-test-org/team-2
/src/fragments/lib/android-sdk.mdx @timngyn-test-org/team-2
/src/fragments/lib/android.mdx @timngyn-test-org/team-2
/src/pages/start/sample-apps/todo-app/q/integration @timngyn-test-org/team-2

#Flutter
/src/fragments/**/**/flutter @timngyn-test-org/team-2
/src/fragments/lib-v1/project-setup/native_common/prereq/flutter_null_safety.mdx @timngyn-test-org/team-2
/src/fragments/lib/flutter.mdx @timngyn-test-org/team-2
/src/fragments/lib/project-setup/native_common/prereq/flutter_null_safety.mdx @timngyn-test-org/team-2
/src/fragments/ui/auth/developer-preview-callout-flutter.mdx @timngyn-test-org/team-2
/src/fragments/ui/flutter/installation.mdx @timngyn-test-org/team-2

#iOS
/src/fragments/**/**/ios @timngyn-test-org/team-1
/src/fragments/guides/datastore/parallel-processing-ios.mdx @timngyn-test-org/team-1
/src/fragments/guides/location-service/setting-up-your-app-ios.mdx @timngyn-test-org/team-1
/src/fragments/guides/location-service/tracking-device-location-ios.mdx @timngyn-test-org/team-1
/src/fragments/lib-v1/ios-sdk.mdx @timngyn-test-org/team-1
/src/fragments/lib-v1/ios-spm.mdx @timngyn-test-org/team-1
/src/fragments/lib-v1/ios.mdx @timngyn-test-org/team-1
/src/fragments/lib/ios-escape-hatch-warning.mdx @timngyn-test-org/team-1
/src/fragments/lib/ios-prereq-category.mdx @timngyn-test-org/team-1
/src/fragments/lib/ios-prereq-xcode.mdx @timngyn-test-org/team-1
/src/fragments/lib/ios-sdk.mdx @timngyn-test-org/team-1
/src/fragments/lib/ios-spm.mdx @timngyn-test-org/team-1
/src/fragments/lib/ios.mdx @timngyn-test-org/team-1
/src/fragments/sdk/sdk-api-ref/ios.mdx @timngyn-test-org/team-1

#Studio
/src/pages/console @timngyn-test-org/team-1

#Hosting
/src/fragments/**/hosting @timngyn-test-org/team-1
/src/pages/**/hosting @timngyn-test-org/team-1

#UI
/src/**/ui @timngyn-test-org/team-2
